.gradle
*/build/*
build
*/target/*
target
*/out/*
out
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin
.checkstyle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
*.err.zip

# MacOS Files
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
